

body {
  font-family: "Lato", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary: #333333;
  --secondary: #fe7000;
  --couleur-texte1: #fff;
}

.app-container {
  margin-top: 150px;
  min-height: 430px;
}
